{% block title %} Login page {% endblock %}

{% block content %}

{% comment %} <form class = "d-flex" method = "POST" action = "{% url "user:search_venues" %}">
    {% csrf_token %}
    <input class = "form-control me-2" type = "search" placeholder = "Search Venues" aria-label = "Search" name = "searched">
    <button class = "btn btn-outlie-secondary" type = "submit"> Serach </button>
</form> {% endcomment %}

<br>
{% if user.is_authenticated %}
    logged in successfully!</br>
    Welcome {{ user.username }}</br>
    <a href = "{% url "user:logout" %}"> logout </a>
{% else %}
    <form action = "{% url "user:login" %}" method = "POST">
        {% csrf_token %}
        <input name = "username" type = "text" placeholder = "username"></br>
        <input name = "password" type = "password" placeholder = "password"></br>
        <input type = "submit" value = "login"></br>
    </form>
    
    <a href = "{% url "user:signup" %}"> Sign up </a>
{% endif %}

{% endblock %}