{% extends "events/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

{% comment %} <form class = "d-flex" method = "POST" action = "{% url "user:search_venues" %}">
    {% csrf_token %}
    <input class = "form-control me-2" type = "search" placeholder = "Search Venues" aria-label = "Search" name = "searched">
    <button class = "btn btn-outlie-secondary" type = "submit"> Serach </button>
</form> {% endcomment %}

<br>
{% if user.is_authenticated %}
    logged in successfully!
    Welcome {{ user.username }}
    <a href = "{% url "user:logout" %}"> logout </a>
{% else %}
    <form action = "" method = "POST">
        {% csrf_token %}
        <input name = "username" type = "text">
        <input name = "password" type = "password">
        <input type = "submit" value = "login">
    </form>
    
    <a href = "{% url "user:signup" %}"> Sign up </a>
{% endif %}

{% endblock %}