{% extends 'events/base.html' %}

{% comment %} {% extends "users/login.html" %} {% endcomment %}

{% block content %}
    {% if searched %}
        <h1> You searched for {{ searched }} </h1>
        <br/>
        <table class="table table-hover table-striped table-bordered">
        {% for product in products %}
            <tr>
                <td><a href = "{% url 'productdetail' product.id %}">
                {{ product.name }}</a><br/></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h1> Hey! You forgot to search for a venue.. </h1>
    {% endif %}
{% endblock %}