{% extends 'events/base.html' %}

{% block content %}

    <h1> Update Profile </h1>

    <form method = "POST">
        {% csrf_token %}
        {{ form.email.label_tag }} {{ form.email }}<br/>
        {{ form.nickname.label_tag }} {{ form.nickname }}<br/>
        {{ form.age.label_tag }} {{ form.age }}<br/>
        {{ form.gender.label_tag }} {{ form.gender }}<br/>
        {{ form.skin_type.label_tag }} {{ form.skin_type }}<br/>
        {{ form.address.label_tag }} {{ form.address }}<br/>
        <input type="submit" value="Update Profile">
    </form><br/>

    <h3> Reviews </h3>
    {% for review in reviews %}
    <div class = "review">
        <h5> Product: {{ review.product.name }} </h5>
        <p> Rating: {{ review.stars }} </p>
        <p> Description: {{ review.description }} </p>
    {% empty %}
        <p> No reviews posted yet </p>
    {% endfor %}

{% endblock %}