<!DOCTYPE html>
<html lang="ko">
<head>
 <meta charset="utf-8">
<body>

    <div class="container">
        <p>Product Type: {{product.productType}}</p>
        <p>Brand Name: {{product.cosmeticBrand}}</p>
        <p>Product Name: {{product.name}}</p>
        <p>Price: {{product.price}}</p>
        <p>Size: {{product.size}}</p>
        <p>Avg.Rating: {{product.avgRating}}</p>
        <p>Number Of Reviews: {{product.numReviews}}</p>
        <p>Ingredients: {{product.ingredients}}</p>
        <h4>Review</h4>
        
        {% if reviews %}
        {% for review in reviews %}
            <div class="card mb-1">
                <div class="card-body">
                    <p class="card-title">{{ review.user }} - {{ review.date }} -{{ review.description }} </p>
                </div>
            </div>
        {% endfor %}


    {% else %}
        <p>No reviews found.</p>

    {% endif %}
      </div>

</body>