{% extends 'base.html' %}

{% block content %}
{% include 'events/base.html' %}
    {% if productlist %}
        {% for product in productlist %}
        <div class="container" style="margin-top: 10px;">
            <div class="card mb-1">
                <div class="card-body">
                    <div>
                    <div><small class="text-muted">{{product.cosmeticBrand}}</small></div>
                    <a href="{% url 'productdetail' product.id %}" class="card-title">{{ product.name }}</a>
                    </div>
                    <div>
                    <p>Average Rating:{{ product.avgRating }}  Reviews:{{ product.numReviews }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No products found.</p>
    {% endif %}
     
{% endblock %}